Novel {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: green;
    z-index: 100;
    color: white;
    flex-direction: column;
    text-shadow: 1px 1px 2px black;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .black {
        position: absolute;
        width: 100%;
        height: 100%;
        pointer-events: none;
        background-color: black;
        opacity: 0;


        &.smooth {
            transition: all 0.2s ease-out;
        }
    }

    .canvas {
        justify-content: center;
        bottom: 1%;
        width: 100%;
        height: 35%;
        //background-color: red;
        z-index: 1;
    }


    TextCanvas {
        padding: 10px;
        background-color: rgba(148 168 209,0.8);
        border-radius: 20px;
        border: 8px solid rgba(100 127 205,0.8);
        width: 70%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        //background-image: url( /ui/mainmenu/snow.png );
        background-repeat:repeat;
     

        .character-label {
            font-size: 40px;
            height: 20%;
            margin-left: 2%;
            text-stroke: 7px rgb(100 127 205);
        }

        .message-label {
            margin-top: 1%;
            height: 80%;
            margin-left: 5%;
            font-size: 36px;
            text-stroke: 5px rgb(100 127 205);
        }


        .label {
            width: 100%;
            color: white;
            font-family: Arial;
            font-weight: 400;
        }

        &.hidden {
            background-color: transparent;
            border-color: transparent;
            background-image:none;

            .label {
                text-stroke-color: transparent;
            }
        }
    }

    AnswersCanvas {
        flex-direction: column;
        width: 100%;
        height: 100%;
        // background-color: orange;
        justify-content: center;
        align-items: center;
        // transition: all 0.3s ease-out;
        z-index: 2;

        .button {
            border: 1px solid black;
            padding: 5px;
            background-color: rgba(black,0.3);
            justify-content: center;
            align-items: center;
            min-width: 20%;
            font-size: 20;
            cursor: pointer;


            &:not(:last-child) {
                margin-bottom: 30px;
            }

            &:hover {
                box-shadow: 0 1px 3px rgba(black, 0.2);
            }
        }
    }

    SpritesCanvas {
        // background-color: red;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 100%;
        pointer-events: none;


        .sprite {
            width: 100%;
            height: 100%;
            background-position: center bottom;
            background-repeat: no-repeat;
            background-size: contain;
            opacity: 1;
            transition: all 0.5s ease-out;
            left: 0;
            right: 0;
            // background-color:red;

            &:intro {
                opacity: 0;

                &.from-left {
                    right: 20%;
                }

                &.from-right {
                    right: 20%;
                }
            }

            &:outro {
                opacity: 0;
                transition: all 0.5s ease-out;
            }
        }
    }
}
