MainMenu {
    position: absolute;
    background-color: rgb(223,228,240);
    width: 100%;
    height: 100%;
}



MainMenu .button-container {
    position: absolute;
    //align-self: center;
    flex-direction: column;
    left: 13%;
    bottom: 4%;
}

MainMenu .button {
    width: 250px;
    height: 45px;
    border: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    font-size: 32px;
    font-family: Trebuchet MS;
    font-weight: 900;
    justify-content: center;
    padding-left: 15px;
    border-radius: 100px;
    color: #95aad2;
    z-index: 3;
    text-shadow: 1px 0 1px white, 0 1px 1px white, -1px 0 1px white, 0 -1px 1px white;




    &:not(:last-child) {
        margin-bottom: 40px;
    }
    //тут должен быть box shadow//
}

.bg1 {
    background-image: url( /ui/mainmenu/bg1.png );
    height: 100%;
    width: 45%;
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
}

.oval {
    position: absolute;
    width: 80%;
    height: 110%;
    align-self: center;
    background-color: green;
    border-radius: 100%;
    margin-left: -30%;
    z-index: -1;
}

.snow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url( /ui/mainmenu/snow.png );
    z-index: -10;
}

.tyan {
    position: absolute;
    height: 100%;
    width: 32%;
    background-image: url( /ui/mainmenu/fterry.png );
    background-repeat: no-repeat;
    background-size: cover;
    right: 10%;
    z-index: -3;
}

.novels-list {
    position: absolute;
    background-color: rgba(cadetblue,0.6);
    width: 40%;
    height: 40%;
    justify-self: center;
    align-self: center;
    margin-left: 25%;
    border-radius: 10px;
    border: 5px solid #95aad2;
    backdrop-filter: blur( 10px );
    //padding: 10px;
    overflow: scroll;
    flex-direction: column;
}


.entry {
    &:not(:last-child) {
        border-bottom: 5px solid white;
    }

    background-color: cadetblue;
    min-height: 250px;
    width: 100%;
    color: white;
    padding: 2%;

    .labels {
        flex-direction: column;
        width: 40%;
    }

    .title {
        font-size: 35px;
        font-weight: bold;
        width: 100%;
        text-align: center;
    }

    .desc {
        font-size: 25px;
    }

    .image {
        width: 100%;
        height: 100%;
        background-color: none;
        border-radius: 10px;
        border: 5px solid #95aad2;
    }

    .img-canvas {
        width: 60%;
    }
}
